{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["vue", "@typescript-eslint"],
  "rules": {
    "quotes": ["warn", "double"],
    "indent": ["warn", 2],
    "vue/script-indent": ["warn", 2, { "baseIndent": 1 }],
    "semi": ["warn", "always"],
    "space-before-function-paren": "off",
    "prefer-promise-reject-errors": ["error", { "allowEmptyReject": true }],
    "@typescript-eslint/ban-ts-comment": "off",
    "vue/max-attributes-per-line": [ "warn", { "singleline": { "max": 6 } }],
    "object-curly-spacing": ["warn", "always"]
  },
  "ignorePatterns": ["**/*.svg"],
  "overrides": [
    {
      "files": ["*.vue"],
      "rules": { "indent": "off" }
    },
    {
      "files": ["src/pages/**/*.vue", "src/layouts/**/*.vue"],
      "rules": { "vue/multi-word-component-names": "off" }
    }
  ]
}
